/* ///////////////////////////////////////////////////////////////////////////Cuerpo */
:root{
--first-color       :#f0db4f;
--alpha-color       : 0.9;
--second-color      : 50,51,48;
--second-color-rgb  :rgb(var(--second-color));
--t-texto           :30px;
--t-texto-S         :35px;
--t-texto--parrafos :20px;
--bottomPX          :20px;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  color: var(--second-color-rgb);
}
p {
  font-size: var(--t-texto--parrafos);
}
button{
  width: 100px;
  background-color: var(--first-color);
  color:var(--second-color-rgb);
  border: 0;
  margin: 2px;
  border-radius: 5%;
}
/* ///////////////////////////////////////////////////////////////////////////Header */
header{
  position: sticky;
  display: inline-flex;
  top:0;
  width: 100%;
  height: 80px;
  background-color: var(--first-color);
  justify-content: center;
  z-index: 998;
  
}
/* ///////////////////////////////////////////////////////////////////////////Funcion */
.palanca{
  /* right: -100%; */
  transform: translate(-100%,0);
  opacity: 0;
}
/* ///////////////////////////////////////////////////////////////////////////Menu */
#menuPalanca{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--second-color),var(--alpha-color));
  top: 0;
  bottom: 0;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.3s ease;
  opacity: 1;
  z-index: 998;
}
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 5%;
  padding-bottom: 30%;
  height: 80vh; 
}
nav ul li{
  display: flex;
  list-style: none;
  font-size: var(--t-texto);
  color: var(--first-color);
  border: 0;
  width: 100%;
  height: 100%;
}
nav ul li a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--first-color);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
nav ul li a:hover{
  background-color: var(--first-color);
  color: var(--second-color-rgb);
  font-size: var(--t-texto-S);
}
.section{
  padding-top:80px;
  width: 100%;
  height: 100vh;
}
.section h3{
  width: 100%;
}
/* ///////////////////////////////////////////////////////////////////////////Hamburger Menu */
#botonPalancaContainer{
  position: fixed;
  z-index: 999;
  bottom: var(--bottomPX);
  right:10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--first-color);
  display: flex;
  
}

#botonPalancaContainer .hamburger{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

/* ///////////////////////////////////////////////////////////////////////////Section */
.section h3{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--t-texto);
  margin: 0;
}
/* ///////////////////////////////////////////////////////////////////////////Section 1 reloj*/
body section div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--t-texto);
}
#reloj_container input{
  text-align: center;
  user-select: none;
  outline: none;
  font-size: 100px;
  border: 0;
}
#reloj_container{
  display: none;
}
/* ///////////////////////////////////////////////////////////////////////////Section 2 Evento teclado*/
#Section_2{
  display: flex;
  flex-direction: column;
  align-items:center;
}
#mapa{
  width: 95%;
  height: 70%;
  background-color: var(--second-color-rgb);
  align-content: center;
}
#pelota{
  width: 50px;
  height: 50px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: relative;
  z-index: 997;
  top: 45%;
  left: 50%;
}
#controladorPelota{
  margin-top: 10px;
  width: 350px;
  text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////Section 3 Cuenta atras*/
#countDownContainer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#Section_3 input{
  font-size: var(--t-texto);
  text-align: center;
}
#countDownContainerControl{
  width: 250px;
  margin-bottom: 30px;
  margin-top: 10px;
}
/* ///////////////////////////////////////////////////////////////////////////Top Scroll jquery*/
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:80px;
  width:70px;
  height:70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:var(--bottomPX);
  pointer-events: auto;
  opacity:1;
  background-color: var(--first-color);
  z-index: 999;
}
